body {
    background-color: black;
}

div.logo {
    background: url(Image\ 2021-03-08\ at\ 9.09\ PM\ 2.jpeg) no-repeat center/cover;
    height: 700px
}

div.text {
    font-family: arial;
    font-size: 12;
    color: white;
    text-align: center;
    line-height: 1.5
}